<div class="categoria-container">
    <h3 class="categoria-titulo">Rol del usuario {{data.usuario}}</h3>
    
    <form class="formulario-categoria row">
        <div class="col-sm-12 mb-3">
            <label class="col-form-label label-formulario">Seleccionar rol:</label>
            <select class="form-control" name="rol" [(ngModel)]="rol" matTooltip="Rol que tendrá este usuario">
                <option [value]="rol.id" *ngFor="let rol of roles">{{rol.nombre}}</option>
            </select>
        </div>

        <div class="d-flex col-sm-12 mt-2 mb-2 align-items-center justify-content-center">
            <button
            *ngIf="data.id"
            mat-raised-button
            class="col-sm-12 col-md-6"
            color="accent" 
            (click)="actualizarRol()">
                Actualizar rol
            </button>
        </div>
    </form>

</div>