.toolbar-container {
    height: 8vh;
    // background-color: #bce9aa;
    background-color: #0e77a8;
    color: #fff;
    
}

.toolbar-item-spacer {
    flex: 1 1 auto;
}

.sidenav-container {
    height: 92vh;
    margin: 0;

    mat-sidenav {
        // background-color: #0e77a8;
        // color: #fff;
        mat-nav-list {
            img {
                width: 100%;
                padding: 12px 32px;
            }
        }
        mat-expansion-panel {
            // background-color: #2a8cb9;
            // color: #fff;

            mat-expansion-panel-header {
                font-size: 1.25em;
            }

            mat-nav-list {
                a {
                    margin-bottom: 0.5em;
                }
            }
        }
        
    }
}