<mat-toolbar color="primary" class="toolbar-container">
    <button mat-icon-button (click)="sidenav.toggle()" matTooltip="Menu">
        <mat-icon>menu</mat-icon>
    </button>

    <span class="toolbar-item-spacer"></span>

    <span>{{usuario.toUpperCase()}}</span>

    <button mat-icon-button matTooltip="Ver menú" [matMenuTriggerFor]="userAccountMenu">
        <mat-icon>account_circle</mat-icon>
    </button>
    
    <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
        <button mat-menu-item routerLink="#">
            <mat-icon>person</mat-icon><span>Mi cuenta</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item routerLink="login" (click)="cerrarSesion()">
            <mat-icon>exit_to_app</mat-icon><span>Cerrar Sesión</span>
        </button>
    </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" [class.mat-elevation-z4]="true" class="col-sm-12 col-md-3" [(opened)]="open">
        <mat-nav-list>
            <img src="../../../assets/logo-udp.png" alt="logo-udp">

            <mat-expansion-panel [class.mat-elevation-z0]="true">
                <mat-expansion-panel-header>Inicio</mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item routerLink="index-menu" (click)="onWindowResize()">
                        <span>Página de inicio</span>
                    </a>
                </mat-nav-list>
            </mat-expansion-panel>

            <mat-expansion-panel [class.mat-elevation-z0]="true">
                <mat-expansion-panel-header>Categorías</mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item routerLink="ver-categorias" (click)="onWindowResize()">
                        <span>Administrar categorías</span>
                    </a>
                </mat-nav-list>
            </mat-expansion-panel>

            <mat-expansion-panel [class.mat-elevation-z0]="true">
                <mat-expansion-panel-header>Asistencias</mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item routerLink="registrar-asistencias" (click)="onWindowResize()">Registrar asistencias</a>
                </mat-nav-list>
            </mat-expansion-panel>

            <mat-expansion-panel [class.mat-elevation-z0]="true">
                <mat-expansion-panel-header>Eventos</mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item routerLink="registrar-eventos" (click)="onWindowResize()">Registrar evento</a>
                </mat-nav-list>
                <mat-nav-list>
                    <a mat-list-item routerLink="cronograma-eventos" (click)="onWindowResize()">Cronograma de eventos</a>
                </mat-nav-list>
            </mat-expansion-panel>

            <mat-expansion-panel [class.mat-elevation-z0]="true">
                <mat-expansion-panel-header>Inventario</mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item routerLink="ver-items" (click)="onWindowResize()">Administrar items</a>
                </mat-nav-list>
            </mat-expansion-panel>

            <mat-expansion-panel [class.mat-elevation-z0]="true">
                <mat-expansion-panel-header>Atención Médica y psicológica</mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item routerLink="registrar-asistencia-medica" (click)="onWindowResize()">Registrar atención</a>
                </mat-nav-list>
                <mat-nav-list>
                    <a mat-list-item routerLink="historias-clinicas" (click)="onWindowResize()">Historias clínicas</a>
                </mat-nav-list>
            </mat-expansion-panel>

            <mat-expansion-panel [class.mat-elevation-z0]="true">
                <mat-expansion-panel-header>Reportes</mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item routerLink="generar-reportes" (click)="onWindowResize()">Generar reportes</a>
                </mat-nav-list>
            </mat-expansion-panel>

            <mat-expansion-panel [class.mat-elevation-z0]="true">
                <mat-expansion-panel-header>Roles</mat-expansion-panel-header>
                
                <mat-nav-list>
                    <a mat-list-item routerLink="ver-roles" (click)="onWindowResize()">Administrar Roles</a>
                </mat-nav-list>
            
            </mat-expansion-panel>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="contenedor-rutas">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container> 