.toolbar-container {
    height: 8vh;
}

.toolbar-item-spacer {
    flex: 1 1 auto;
}

.sidenav-container {
    height: 92vh;
    margin: 0;

    mat-sidenav {
        background-color: #096f9c;
        color: #fff;
        mat-nav-list {
            padding: 0;
            img {
                width: 100%;
                padding: 12px 32px;
                background-color: #fff;
            }
        }
        mat-expansion-panel {
            background-color: #096f9c;
            color: #fff;

            mat-expansion-panel-header {
                font-size: 1.25em;
            }

            mat-nav-list {
                a {
                    margin-bottom: 0.5em;
                }
            }
        }
    }

    .contenedor-rutas {
        background-color: #dee2e6;
    }
}