<div class="evento-container">
    <h2 class="evento-titulo">Historias Clínicas</h2>

    <form class="row contenedor-evento pt-4 pb-4">

        <div class="col-sm-12 col-md-6 mb-3">
            <label class="col-form-label label-formulario">PEGE:</label>
            <input type="number" class="form-control" name="id_pege" [(ngModel)]="form.id_pege" placeholder="Pege...">
        </div>

        <div class="col-sm-12 col-md-6 mb-3">
            <label class="col-form-label label-formulario">Fecha de la consulta:</label>
            <input type="date" class="form-control" name="fecha" [(ngModel)]="form.fecha">
        </div>

        <div class="boton-centrado col-sm-12">
            <button mat-raised-button color="primary" class="col-sm-12 col-md-2" (click)="buscarHistoriasMedicas()">Buscar</button>
        </div>
    </form>

    <mat-accordion class="col-sm-12 row mt-3" *ngFor="let historia of historiasMedicas">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{historia.nombre}}
            </mat-panel-title>
            <mat-panel-description>
                {{historia.fecha}} / {{historia.observacion}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>
            <b>Detalles de la consulta:</b> <br> {{historia.otros_datos}}
          </p>
          <p class="mt-2">
            <b>Tratamiento recomendado:</b> <br> {{historia.recomendacion}}
          </p>
        </mat-expansion-panel>
    </mat-accordion>
</div>