.login-container {
  width: 100vw;
  height: 100vh;
  background-image: url("../../../assets/login-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  .navbar-login {
    height: 8%;
    display: flex;
    align-items: center;
    background-color: #0e77a8;

    .imagen-navbar {
      width: 5%;
      height: 100%;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 24px;

      img {
        height: 90%;
      }
    }
  }
  
  .card-login-container {
    height: 92%;
    width: 92%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .card-login {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 24px;
    
      background-color: #ffff;
      border-radius: 8px;
    
      .formulario-login {
        background-color: #0e77a8;
        border-radius: 8px;
        padding: 16px;

        .input-formulario {
          width: 100%;
          border-radius: 8px;
        }
        
        .final-form-login {
          display: flex;
          justify-content: space-between;

          .checkbox-recordarme {
            display: flex;
            align-items: center;
            font-size: 1.1em;
            color: #fff;
            font-weight: 500;

            input {
              height: 100%;
              margin-right: 8px;
              transform: scale(1.5);
            }
          }
        }

        .link-olvidaste {
          color: #fff;
          font-weight: 400;
        }
      }
      
      .boton-accion-secundaria {
        margin-top: 16px;
        width: 100%;
        text-decoration: none;
        text-decoration-line: none;
        padding: 4px;
      }
    }
  } 
}