<div class="login-container">
  <div class="navbar-login">
    <div class="imagen-navbar col-sm-3 col-md-1">
      <img src="../../../assets/escudo-unipacifico.jpg" alt="logo-unipacifico">
    </div>
    <h2 class="text-light mb-0">Bienestar Institucional Universidad Del Pacífico</h2>
  </div>

  <div class="card-login-container">
    <div class="card-login col-sm-11 col-md-8">
      <div class="logo-card-login col-sm-8 col-md-6 text-center">
        <img src="../../../assets/logo-udp.png" alt="logo-udp">
      </div>
  
      <div class="acciones-login col-sm-11 col-md-8 col-xl-5">
        <mat-card class="formulario-login">
          <form>
            <mat-card-content>
              <h3 class="text-light mb-2">Usuario</h3>
              <mat-form-field class="input-formulario">
                <input matInput [(ngModel)]="user" #username id="Usuario" name="Usuario" placeholder="Usuario " type="text" name="usuario" required />
                <mat-icon matPrefix>person</mat-icon>
              </mat-form-field>
              <h3 class="text-light mb-2">Contraseña</h3>
              <mat-form-field class="input-formulario">
                <input matInput [(ngModel)]="pass" #clave id="Password" name="Password"  type="password" placeholder="Password" type="password" name="clave" required />
                <mat-icon matPrefix>vpn_key</mat-icon>
              </mat-form-field>
            </mat-card-content>
            <div class="final-form-login col-12 ps-3 pe-3">
              <div class="checkbox-recordarme">
                <input type="checkbox" name="checkbox" [(ngModel)]="checkboxUser"  >
                <label>Recordarme</label>
              </div>
              
              <button mat-raised-button class="ps-4 pe-4" (click)="verificar()">Ingresar</button>
            </div>
          </form>
        </mat-card>
        
        <button mat-raised-button color="accent" class="boton-accion-secundaria" (click)="abrirForm()">¿Olvidaste tus datos?</button>
        <button mat-raised-button color="accent" class="boton-accion-secundaria">Manual de usuario UDP</button>
        <a mat-raised-button href="http://www.unipacifico.edu.co/" target="_blank" color="accent" class="boton-accion-secundaria">Sitio web UDP</a>
      </div>
    </div>
  </div>
</div>