<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="cardp">
    <mat-card class="box">
      
      <form class="example-form">
        <mat-card-content>
          <h3> Usuario</h3>
          <mat-form-field class="example-full-width">
            <link rel="shortcut icon" href="http://tu_servidor/iconos/favicon.ico">
            <input matInput placeholder="Usuario">
          </mat-form-field>
          <h3> Contraseña</h3>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Contraseña">
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block">Ingresar</button>
        <h3 > <u> <a href="https:www.google.com"> ¿Olvisdaste los datos? </a></u></h3>

      </form>
    </mat-card>
  </mat-card>
  </div>