<div class="evento-container">
    <h2 class="evento-titulo">Registrar Atención</h2>

    <form class="formulario-evento row">
        <div class="col-sm-12 col-md-4 mb-3">
            <label class="col-form-label label-formulario">PEGE:</label>
            <input type="number" class="form-control" name="pege" [(ngModel)]="form.id_pege" placeholder="Id...">
        </div>

        <div class="col-sm-12 col-md-4 mb-3">
            <label class="col-form-label label-formulario">Cédula del paciente:</label>
            <input type="number" class="form-control" name="documento" [(ngModel)]="form.documento" placeholder="Cédula...">
        </div>

        <div class="col-sm-12 col-md-4 mb-3">
            <label class="col-form-label label-formulario">Nombre del paciente:</label>
            <input type="text" class="form-control" name="nombre" [(ngModel)]="form.nombre" placeholder="Nombre...">
        </div>

        <div class="col-sm-12 mb-3">
            <label class="col-form-label label-formulario">Observación:</label>
            <input type="text" class="form-control" name="observacion" [(ngModel)]="form.observacion" placeholder="Observación...">
        </div>

        <div class="col-sm-12 mb-3">
            <label class="col-form-label label-formulario">Detalles:</label>
            <textarea class="form-control" name="otros_datos" [(ngModel)]="form.otros_datos" rows="5"></textarea>
        </div>

        <div class="col-sm-12 mb-3">
            <label class="col-form-label label-formulario">Recomendaciones:</label>
            <textarea class="form-control" name="tratamiento" [(ngModel)]="form.recomendacion" rows="5"></textarea>
        </div>

        <div class="boton-registrar mt-3 mb-2">
            <button mat-raised-button class="col-sm-12 col-md-2" color="warn" (click)="limpiarCampos()">Limpiar</button>
            <button mat-raised-button class="col-sm-12 col-md-2" color="primary" (click)="registrarAtencion()">Registrar</button>
        </div>
    </form>

</div>