<div class="categoria-container">
    <h2 class="categoria-titulo">Administración de inventario</h2>

    <div class="d-flex justify-content-between align-items-center">
        <button mat-raised-button color="primary" class="mb-4" (click)="crearNuevoItem()">Crear Item</button>
        <mat-slide-toggle
            color="primary"
            class="mb-4"
            [(ngModel)]="activos"
            (change)="traerItems()"
        >Activos</mat-slide-toggle>
    </div>
    
    <div class="contenedor-tabla">
        <table mat-table [dataSource]="itemsTabla" class="mat-elevation-z8" class="tabla-resultados" matSort #tablaResultados>
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                <td mat-cell *matCellDef="let element">{{element.id}}</td>
            </ng-container>
    
            <ng-container matColumnDef="item">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Item</th>
                <td mat-cell *matCellDef="let element">{{element.item}}</td>
            </ng-container>

            <ng-container matColumnDef="cantidad">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</th>
                <td mat-cell *matCellDef="let element">{{element.cantidad}}</td>
            </ng-container>

            <ng-container matColumnDef="nombreCategoria">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Área</th>
                <td mat-cell *matCellDef="let element ">{{element.nombreCategoria}}</td>
            </ng-container>
    
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button color="accent" class="me-3" (click)="editarItem(element)">Editar</button>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator
            class="tabla-resultados"
            #paginator
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 20, 30]"
            showFirstLastButtons>
        </mat-paginator>
    </div>
</div>