.inventario-container {
    width: 80%;
    margin: 0 auto;

    .inventario-titulo {
        text-align: center;
        font-size: 2.5em;
        margin: 1em 0 1.5em 0
    }

    .tabla-resultados {
        width: 100%;

        .mat-mdc-header-cell, .mat-mdc-cell {
            width: 30%;
        }
    }
}