<div class="index-container">
    <h2 class="index-titulo">Bienestar Institucional UDP</h2>

    <div class="tarjeta-opcion">
        <div class="opcion-tarjeta-opcion">
            <label class="tarjeta-opcion-label">Manual de usuario</label>
            <mat-icon>save_alt</mat-icon>
        </div>

        <div class="opcion-tarjeta-opcion">
            <label class="tarjeta-opcion-label">Pagina UDP</label>
            <mat-icon>language</mat-icon>
        </div>
    </div>

    <h2 class="text-center mt-6">Aquí va la imagen bonita jajajajjaa</h2>
</div>