<div class="index-container">
    <h2 class="index-titulo">Bienestar Institucional UDP</h2>

    <div class="tarjeta-opcion">
        <div class="opcion-tarjeta-opcion">
            <label class="tarjeta-opcion-label">Manual de usuario</label>
            <mat-icon>save_alt</mat-icon>
        </div>

        <div class="opcion-tarjeta-opcion">
            <label class="tarjeta-opcion-label">Pagina UDP</label>
            <mat-icon>language</mat-icon>
        </div>
    </div>

    <img src="../../../assets/imagen-index.jpg" alt="imagen-index" class="imagen-index">

</div>