<div class="categoria-container">
    <h3 class="categoria-titulo">¡BIENVENIDO!</h3>
    
    <form class="formulario-categoria row">
        <h4>Pronto un administrador le asignará un rol para comenzar a utilizar el sistema</h4>

        <div
        class="d-flex col-sm-12 mt-2 mb-2 align-items-center justify-content-center">
            <button
            mat-raised-button
            class="col-sm-12 col-md-5"
            color="primary"
            (click)="this.dialogRef.close()">
                Aceptar
            </button>
        </div>
    </form>

</div>