<div class="item-container">
    <h2 class="item-titulo">Registrar Item</h2>

    <form class="formulario-item row">

        <div class="col-sm-12 mb-3">
            <label class="col-form-label label-formulario">Nombre:</label>
            <input
                type="text"
                class="form-control"
                placeholder="Nombre del item..."
                name="nombre"
                [(ngModel)]="form.nombre"
            />
        </div>

        <div class="col-sm-12 mb-3">
            <label class="col-form-label label-formulario">Cantidad:</label>
            <input
                type="number"
                class="form-control"
                placeholder="0"
                name="cantidad"
                [(ngModel)]="form.cantidad"
            />
        </div>

        <div class="col-sm-12 mb-3">
            <label class="col-form-label label-formulario">Categoría:</label>
            <select class="form-select" name="categoria" [(ngModel)]="form.categoria">
                <option *ngFor="let categoria of categorias" [value]="categoria.value">{{categoria.name}}</option>
            </select>
        </div>

        <div class="boton-registrar col-sm-12 mt-2 mb-2">
            <button
            mat-raised-button
            class="col-sm-12 col-md-5"
            color="primary"
            (click)="crearCategoria()">
                Registrar
            </button>
        </div>
    </form>

</div>