<div class="participacion-container pb-2">
    <h2 class="participacion-titulo">Registrar participación en: <br>{{data.nombre.toLowerCase()}}</h2>

    <form class="formulario-participacion row">

        <div class="col-sm-12 mb-3">
            <label class="col-form-label label-formulario">Cédula:</label>
            <input
                type="number"
                class="form-control"
                placeholder="Cedula..."
                name="cedula"
                [(ngModel)]="form.cedula"
            />
        </div>

        <div class="col-sm-12 mb-3">
            <label class="col-form-label label-formulario">Nombre completo:</label>
            <input
                type="text"
                class="form-control"
                placeholder="Nombre..."
                name="nombre"
                [(ngModel)]="form.nombre"
            />
        </div>

        <div class="col-sm-12 mb-3">
            <label class="col-form-label label-formulario">Fecha participación:</label>
            <input
                type="date"
                class="form-control"
                name="fecha"
                min={{data.fecha_inicio}}
                max="{{data.fecha_fin}}"
                [(ngModel)]="form.fecha"
            />
        </div>

        <div class="col-sm-12 mb-3">
            <label class="col-form-label label-formulario">Periodo académico:</label>
            <select class="form-select" name="periodo" [(ngModel)]="form.periodo">
                <option value="" disabled>Seleccionar...</option>
                <option *ngFor="let periodo of periodos" [value]="periodo.id">{{periodo.anio}} - {{periodo.periodo}}</option>
            </select>
        </div>

        <div class="boton-registrar col-sm-12 mt-2 mb-2">
            <button
            mat-raised-button
            class="col-sm-12 col-md-5"
            color="primary"
            (click)="registrarParticipacion()">
                Registrar
            </button>
        </div>
    </form>

</div>