<div class="asistencia-container">
    <h2 class="asistencia-titulo">Registrar Asistencia</h2>

    <form class="formulario-asistencia row">

        <div class="col-sm-12 col-md-6 mb-3">
            <label class="col-form-label label-formulario">Cédula:</label>
            <input type="number" class="form-control" name="cedula" [(ngModel)]="form.cedula" placeholder="Cédula..." matTooltip="Cédula del estudiante">
        </div>

        <div class="col-sm-12 col-md-6 mb-3">
            <label class="col-form-label label-formulario">Nombre completo:</label>
            <input type="text" class="form-control" name="nombres" [(ngModel)]="form.nombre" placeholder="Nombre..." matTooltip="Nombre del estudiante">
        </div>

        <div class="col-sm-12 col-md-6 mb-3">
            <label class="col-form-label label-formulario">Programa académico:</label>
            <input type="text" class="form-control" name="programa" [(ngModel)]="form.programa" placeholder="Programa..." matTooltip="Programa académico del estudiante">
        </div>

        <div class="col-sm-12 col-md-6 mb-3">
            <label class="col-form-label label-formulario">Período:</label>
            <select class="form-select" name="periodo" [(ngModel)]="form.periodo" matTooltip="Periodo académico actual">
                <option value="" disabled>Seleccionar...</option>
                <option *ngFor="let periodo of periodos" [value]="periodo.id">{{periodo.anio}} - {{periodo.periodo}}</option>
            </select>
        </div>

        <div class="col-sm-12 col-md-6 mb-3">
            <label class="col-form-label label-formulario">Área:</label>
            <select class="form-select" name="categoria" [(ngModel)]="form.categoria" matTooltip="Área">
                <option value="">Seleccionar...</option>
                <option *ngFor="let categoria of categorias" [value]="categoria.id">{{categoria.nombre}}</option>
            </select>
        </div>

        <div class="col-sm-12 col-md-6 mb-3">
            <label class="col-form-label label-formulario">Fecha:</label>
            <input type="date" class="form-control" name="fecha" min="{{fechaHoy}}" [(ngModel)]="form.fecha" matTooltip="Fecha de la asistencia">
        </div>

        <div class="boton-registrar mt-3 mb-2">
            <button mat-raised-button class="col-sm-12 col-md-2" color="warn" (click)="limpiarCampos()">Limpiar</button>
            <button mat-raised-button class="col-sm-12 col-md-2" color="primary" (click)="registrarAsistencia()">Registrar</button>
        </div>
    </form>

</div>