<div class="asistencia-container">
    <h2 class="asistencia-titulo">Registrar Asistencia</h2>

    <form class="formulario-asistencia row">

        <div class="col-sm-12 col-md-6 mb-3">
            <label class="col-form-label label-formulario">Cédula:</label>
            <input type="number" class="form-control" placeholder="Cédula...">
        </div>

        <div class="col-sm-12 col-md-6 mb-3">
            <label class="col-form-label label-formulario">Nombres:</label>
            <input type="text" class="form-control" placeholder="Nombres...">
        </div>

        <div class="col-sm-12 col-md-6 mb-3">
            <label class="col-form-label label-formulario">Apellidos:</label>
            <input type="text" class="form-control" placeholder="Apellidos...">
        </div>

        <div class="col-sm-12 col-md-6 mb-3">
            <label class="col-form-label label-formulario">Categoría:</label>
            <select class="form-select">
                <option *ngFor="let categoria of categorias" [value]="categoria.value">{{categoria.name}}</option>
            </select>
        </div>

        <div class="col-sm-12 col-md-6 mb-3">
            <label class="col-form-label label-formulario">Fecha:</label>
            <input type="date" class="form-control">
        </div>

        <div class="col-sm-12 col-md-6 mb-3">
            <label class="col-form-label label-formulario">Hora:</label>
            <input type="time" class="form-control">
        </div>

        <div class="text-right mt-3 mb-2">
            <button mat-raised-button class="col-sm-12 col-md-2" color="primary">Registrar</button>
        </div>
    </form>

</div>