.contenedor-reporte {
    width: 90%;
    min-height: 90%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 12px;
    padding: 24px;
    margin-top: 32px;

    #logo-unipacifico {
        width: 30%;
        margin-bottom: 8px;
    }

    .titulo-reporte {
        text-align: center;
        font-weight: 800;
        margin-top: 8px;
    }
}