.evento-container {
    width: 90%;
    margin: 0 auto;

    .evento-titulo {
        text-align: center;
        font-size: 2.5em;
        margin: 1em 0
    }

    .contenedor-filtros {
        background-color: #fff;
        border-radius: 8px;
        padding: 12px 24px;
    }
    
    mat-accordion {
        mat-panel-title {
            color: #096f9c;
            font-size: 1.25em;
        }

        mat-panel-description, .contenido-card {
            font-size: 1.1em;    
        }

    }
}